@charset "utf-8";

/* CSS Document */


/**
* Author: chenchang
* Version: 1.0
* Last Changed by chenchang
* Last Update : 2015-05-26*/


/*reset*/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
br,
form,
input,
button,
textarea,
select,
fieldset,
legend,
blockquote,
ul,
ol,
li,
dl,
dt,
dd,
pre,
table,
caption,
tr,
td,
th {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    position: relative;
    background: #000;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: "Microsoft YaHei", "Helvetica Neue", Arial, HelveticaNeue, Helvetica, "BBAlpha Sans", sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

textarea,
select,
input,
button {
    vertical-align: middle;
    font-size: 100%;
}

address,
cite,
code,
em,
var,
abbr,
acronym,
i,
dfn {
    font-style: normal;
}

textarea {
    resize: none;
}

i {
    display: inline-block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul,
ol {
    list-style: none outside none;
}

img,
fieldset {
    border: none;
}

a,
a:hover,
a:focus {
    border: none;
    outline: none;
    text-decoration: none;
}

sup,
sub {
    vertical-align: baseline;
}

textarea {
    font-size: 0.28rem;
}

button {
    background: none;
}

img {
    display: block;
}


/*禁用长按事件*/

button {
    border: 0;
    outline: none;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #666666;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #666666;
}

input:-ms-input-placeholder {
    color: #666666;
}

input::-webkit-input-placeholder {
    color: #666666;
}


/*clearfix*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
    overflow: hidden;
    height: 0;
}

.clearfix {
    *zoom: 1;
    /* IE < 8 */
}

.left {
    float: left;
}

.right {
    float: right;
}


/*main*/

.page-warp {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.warp {
    width: 100%;
    overflow: hidden;
    display: none;
}

.logo {
    position: absolute;
    top: 20px;
    left: 116px;
    z-index: 6;
}

#mp-ytz {
    background: url("http://jx3.xoyo.com/zt/2014/11/21/zt/menpai/assets/images/mp-ytz/bg.jpg?pc_hash=1alH84") #130c05 no-repeat center top;
    background-attachment: fixed;
}

#mp-ytz .l-m-textbox {
    background: url("http://jx3.xoyo.com/zt/2014/11/21/zt/menpai/assets/images/mp-ytz/pic-title.png?pc_hash=1alH84") no-repeat;
}

#mp-ytz .skill-table>div.act {
    background: url("http://jx3.xoyo.com/zt/2014/11/21/zt/menpai/assets/images/mp-ytz/jn.png") no-repeat;
    width: 204px;
    height: 188px;
    margin-left: 75px;
}

#mp-ytz .r-table .con .skill-table img {
    margin: 61px 56px 9px 48px;
}

#mp-ytz .r-table .con .skill-table .act span {
    position: relative;
    left: -10px;
    top: 2px;
}

#mp-ytz .r-table .con .mp-det p {
    height: auto;
}

#mp-ytz .per-box {
    right: 86px;
}

#mp-ytz .r-table .con .skill-table img {
    margin: 61px 56px 10px 48px;
}

#mp-ytz .mp-det {
    margin-top: 26px;
}

#mp-lxg {
    background: url("../images/mp-lxg/bg.jpg") #130c05 no-repeat center top;
    background-attachment: fixed;
}

#mp-lxg .l-m-textbox {
    background: url("../images/mp-lxg/pic-title.png") no-repeat;
}

#mp-lxg .skill-table>div.act {
    background: url("../images/mp-lxg/jn.png") no-repeat;
    width: 200px;
    height: 181px;
    margin-left: 75px;
}

#mp-lxg .per-box {
    right: -170px;
}

#mp-lxg .r-table .con .skill-table img {
    margin: 55px 56px 10px 61px;
}

#mp-sl {
    background: url("../images/mp-sl/bg.jpg") #130c05 no-repeat center top;
    background-attachment: fixed;
}

#mp-sl .l-m-textbox {
    background: url("../images/mp-sl/pic-title.png") no-repeat;
}

#mp-sl .skill-table>div.act {
    background: url("../images/mp-sl/jn.png") no-repeat;
}

#mp-bd {
    background: url("../images/mp-bd/bg.jpg") #130c05 no-repeat center top;
    background-attachment: fixed;
}

#mp-bd .l-m-textbox {
    background: url("../images/mp-bd/pic-title.png") no-repeat;
}

#mp-bd .skill-table>div.act {
    background: url("../images/mp-bd/jn.png") no-repeat;
}

#mp-bd .per-box {
    right: -170px;
}

#mp-cy {
    background: url("../images/mp-cy/bg.jpg") #130c05 no-repeat center top;
    background-attachment: fixed;
}

#mp-cy .l-m-textbox {
    background: url("../images/mp-cy/pic-title.png") no-repeat;
}

#mp-cy .skill-table>div.act {
    background: url("../images/mp-cy/jn.png") no-repeat;
}

#mp-cy .per-box {
    right: -180px;
}

#mp-gb {
    background: url("../images/mp-gb/bg.jpg") #130c05 no-repeat center top;
    background-attachment: fixed;
}

#mp-gb .l-m-textbox {
    background: url("../images/mp-gb/pic-title.png") no-repeat;
}

#mp-gb .skill-table>div.act {
    background: url("../images/mp-gb/jn.png") no-repeat;
}

#mp-gb .per-box {
    right: -170px;
}

#mp-pl {
    background: url("../images/mp-pl/bg.jpg") #130c05 no-repeat center top;
    background-attachment: fixed;
}

#mp-pl .l-m-textbox {
    background: url("../images/mp-pl/pic-title.png") no-repeat;
}

#mp-pl .skill-table>div.act {
    background: url("../images/mp-pl/jn.png") no-repeat;
}

#mp-pl .per-box {
    right: 40px;
}

#mp-pl .r-table .con .skill-table>div {
    width: 184px;
    height: 198px;
}

#mp-pl .r-table .con .skill-table img {
    margin: 66px 0px 12px 45px;
}

#mp-pl .r-table .con .skill-table {
    margin-top: 25px;
}

#mp-pl .r-table .con .skill-table .act span {
    text-indent: -9px;
}

#mp-cg {
    background: url("../images/mp-cg/bg.jpg") #130c05 no-repeat center top;
    background-attachment: fixed;
}

#mp-cg .l-m-textbox {
    background: url("../images/mp-cg/pic-title.png") no-repeat;
}

#mp-cg .skill-table>div.act {
    background: url("../images/mp-cg/jn.png") no-repeat;
}

#mp-cg .per-box {
    right: -75px;
}

#mp-mj {
    background: url("../images/mp-mj/bg.jpg") #130c05 no-repeat center top;
    background-attachment: fixed;
}

#mp-mj .l-m-textbox {
    background: url("../images/mp-mj/pic-title.png") no-repeat;
}

#mp-mj .skill-table>div.act {
    background: url("../images/mp-mj/jn.png") no-repeat;
}

#mp-tm {
    background: url("../images/mp-tm/bg.jpg") #130c05 no-repeat center top;
    background-attachment: fixed;
}

#mp-tm .l-m-textbox {
    background: url("../images/mp-tm/pic-title.png") no-repeat;
}

#mp-tm .skill-table>div.act {
    background: url("../images/mp-tm/jn.png") no-repeat;
}

#mp-tm .per-box {
    right: -235px;
}

#mp-wd {
    background: url("../images/mp-wd/bg.jpg") #130c05 no-repeat center top;
    background-attachment: fixed;
}

#mp-wd .l-m-textbox {
    background: url("../images/mp-wd/pic-title.png") no-repeat;
}

#mp-wd .skill-table>div.act {
    background: url("../images/mp-wd/jn.png") no-repeat;
}

#mp-wd .per-box {
    right: -220px;
}

#mp-cj {
    background: url("../images/mp-cj/bg.jpg") #130c05 no-repeat center top;
    background-attachment: fixed;
}

#mp-cj .l-m-textbox {
    background: url("../images/mp-cj/pic-title.png") no-repeat;
}

#mp-cj .skill-table>div.act {
    background: url("../images/mp-cj/jn.png") no-repeat;
}

#mp-cj .per-box {
    right: -275px;
}

#mp-tc {
    background: url("../images/mp-tc/bg.jpg") #130c05 no-repeat center top;
    background-attachment: fixed;
}

#mp-tc .l-m-textbox {
    background: url("../images/mp-tc/pic-title.png") no-repeat;
}

#mp-tc .skill-table>div.act {
    background: url("../images/mp-tc/jn.png") no-repeat;
}

#mp-tc .per-box {
    right: -250px;
}

#mp-chy {
    background: url("../images/mp-chy/bg.jpg") #130c05 no-repeat center top;
    background-attachment: fixed;
}

#mp-chy .l-m-textbox {
    background: url("../images/mp-chy/pic-title.png") no-repeat;
}

#mp-chy .skill-table>div.act {
    background: url("../images/mp-chy/jn.png") no-repeat;
}

#mp-chy .per-box {
    right: -230px;
}

#mp-qx {
    background: url("../images/mp-qx/bg.jpg") #130c05 no-repeat center top;
    background-attachment: fixed;
}

#mp-qx .l-m-textbox {
    background: url("../images/mp-qx/pic-title.png") no-repeat;
}

#mp-qx .skill-table>div.act {
    background: url("../images/mp-qx/jn.png") no-repeat;
}

#mp-wh {
    background: url("../images/mp-wh/bg.jpg") #130c05 no-repeat center top;
    background-attachment: fixed;
}

#mp-wh .l-m-textbox {
    background: url("../images/mp-wh/pic-title.png") no-repeat;
}

#mp-wh .skill-table>div.act {
    background: url("../images/mp-wh/jn.png") no-repeat;
}

#mp-wh .per-box {
    right: -150px;
}

.container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: 1560px;
    min-width: 1200px;
    position: relative;
}

.container .l-message {
    margin-left: 133px;
    z-index: 2;
}

.container .per-box.act {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.container .per-box {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    opacity: 0;
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
}

.container .per-box img {
    float: right;
}

.container .l-message.act {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.container .l-message {
    width: 495px;
    height: 100%;
    position: relative;
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    opacity: 0;
    -webkit-transform: translateX(-30%);
    -ms-transform: translateX(-30%);
    transform: translateX(-30%);
}

.container .l-message .l-m-table {
    position: absolute;
    top: 50%;
}

.container .l-message .l-m-table .l-m-box {
    margin-top: -70%;
}

.container .l-message .l-m-textbox {
    padding-top: 328px;
}

.container .l-message .l-m-textbox p {
    font-size: 16px;
    color: #a39171;
    text-indent: 32px;
    padding-bottom: 10px;
}

.container .l-message .v-table {
    cursor: pointer;
    margin-top: 50px;
    height: 230px;
    position: relative;
}

.container .l-message .v-table .vm {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    color: #fff;
    margin-top: -65px;
    margin-left: -135px;
    pointer-events: none;
}

.d1 {
    position: relative;
    margin-left: 45px;
    display: inline-block;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    overflow: hidden;
    border: 1px solid #5f513c;
}

.d1 .vdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c180e;
    opacity: 0.5;
    z-index: 3;
}

.d1>img {
    max-width: 100%;
    max-height: 100%;
    -webkit-transform: rotate(-45deg) scale(1.42);
    -ms-transform: rotate(-45deg) scale(1.42);
    transform: rotate(-45deg) scale(1.42);
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.d1:hover>img {
    -webkit-transform: rotate(-45deg) scale(1.5);
    -ms-transform: rotate(-45deg) scale(1.5);
    transform: rotate(-45deg) scale(1.5);
}


/*右侧栏*/

.r-table {
    position: absolute;
    padding: 0 10px;
    height: 1080px;
    background: url("../images/bg-rtable.png") no-repeat;
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    top: 0;
    right: 0;
    z-index: 3;
}

.r-table .con {
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    opacity: 1;
}

.r-table .btn-ofnav {
    position: absolute;
    width: 23px;
    height: 164px;
    background: url("../images/btn-lnav-off.png") no-repeat;
    left: -15px;
    top: 50%;
    margin-top: -85px;
    cursor: pointer;
    z-index: 6;
}

.r-table .btn-ofnav img {
    margin-left: 10px;
    cursor: pointer;
}

.r-table .con {
    width: 346px;
    margin: 0 auto;
    padding-top: 65px;
}

.r-table .con .skill-table>div {
    cursor: pointer;
    width: 173px;
    height: 175px;
    display: inline-block;
    text-align: center;
}

.r-table .con .skill-table .act img {
    border: 2px solid #93774d;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

.r-table .con .skill-table .act span {
    display: inherit;
    color: #564120;
    font-size: 20px;
    text-shadow: 2px 1px 1px #f1dd86;
}

.r-table .con .skill-table {
    margin-top: 45px;
}

.r-table .con .skill-table .center {
    margin-left: 92px;
}

.r-table .con .skill-table img {
    margin: 46px auto 11px;
    border: 2px solid #5e5953;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.r-table .con .skill-table span {
    display: none;
}

.r-table .con .mp-det .mpbox {
    margin-left: 0;
    width: 700px;
    font-size: 0;
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.r-table .con .mp-det .mpbox>div {
    display: inline-block;
    width: 346px;
    font-size: 16px;
}

.r-table .con .mp-det .mpbox>div p {
    width: 328px;
    padding-left: 9px;
}

.r-table .con .mp-det {
    width: 346px;
    font-size: 16px;
    color: #e0c99d;
    margin-top: 40px;
    overflow: hidden;
}

.r-table .con .mp-det p {
    height: 80px;
}

.r-table .con .mp-det img {
    margin: 20px auto 30px;
}

.r-table .con .mp-det .star {
    width: 328px;
    margin: 0 auto;
}

.r-table .con .mp-det .star i {
    background: url("../images/icon-star.png") no-repeat;
    background-position: -25px 0;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 6px;
}

.r-table .con .mp-det .star i.on {
    background-position: 0 -1px;
}


/*左侧栏*/

.page-warp .l-nav {
    height: 1080px;
    width: 109px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.page-warp .l-nav .mpnav-table {
    position: relative;
    height: 100%;
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    left: 0;
    opacity: 1;
}

.page-warp .l-nav .mp-box {
    padding-top: 28px;
}

.page-warp .l-nav .mp-box li {
    width: 108px;
    height: 66px;
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0;
}

.page-warp .l-nav .mp-box li a {
    font-size: 0;
}

.page-warp .l-nav .mp-box li.act,
.page-warp .l-nav .mp-box li:hover {
    background: url("../images/icon-mpact.png") no-repeat;
    text-align: center;
    line-height: 66px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
}

.page-warp .l-nav .mp-box li.act a,
.page-warp .l-nav .mp-box li:hover a {
    font-size: 18px;
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
}

.page-warp .l-nav ul {
    height: 995px;
    width: 108px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -535px;
    margin-left: -54.5px;
    background: url("../images/icon-mp.png") no-repeat;
    background-position: 0 20px;
}

.r-table.off {
    right: -355px;
}

.r-table.off .con {
    opacity: 0;
}

.r-table.off .btn-ofnav img {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-left: 6px;
}

.bottom-nav {
    width: 157px;
    height: 35px;
    position: absolute;
    bottom: 15px;
    left: 125px;
    background: url("../images/icon-nav-s.png") no-repeat;
    z-index: 6;
    overflow: hidden;
}

.bottom-nav .bn-box {
    width: 200px;
}

.bottom-nav a {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 21px;
}


/*window*/

.dialog {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    display: none;
}

.drop {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.45;
    z-index: 10;
}

.btn_close {
    position: absolute;
    width: 33px;
    height: 33px;
    background: url("../images/btn-close.png") no-repeat;
    background-size: cover;
    display: block;
    top: 0;
    right: -40px;
    cursor: pointer;
}

.win_video {
    width: 856px;
    height: 480px;
    position: absolute;
    z-index: 11;
    top: 50%;
    left: 50%;
    margin-top: -240px;
    margin-left: -428px;
}

.win_video .v-table {
    width: 100%;
    height: 100%;
}

.mpnav-slide-contianer {
    height: 796px;
    width: 108px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.mpnav-arrow-up {
    width: 58px;
    height: 58px;
    margin: 0 auto;
    background-image: url("http://jx3.xoyo.com/zt/2014/11/21/zt/menpai/assets/images/mpnav-arrow-up.png?pc_hash=1alH84");
    cursor: pointer;
}

.mpnav-arrow-up.act {
    background-image: url("http://jx3.xoyo.com/zt/2014/11/21/zt/menpai/assets/images/mpnav-arrow-up-act.png?pc_hash=1alH84");
}

.mpnav-arrow-down {
    width: 58px;
    height: 58px;
    margin: 0 auto;
    background-image: url("http://jx3.xoyo.com/zt/2014/11/21/zt/menpai/assets/images/mpnav-arrow-down.png?pc_hash=1alH84");
    cursor: pointer;
}

.mpnav-arrow-down.act {
    background-image: url("http://jx3.xoyo.com/zt/2014/11/21/zt/menpai/assets/images/mpnav-arrow-down-act.png?pc_hash=1alH84");
}

.page-warp .l-nav ul {
    position: absolute;
    background: url("http://jx3.xoyo.com/zt/2014/11/21/zt/menpai/assets/images/mp-ytz/icon-mp.png?pc_hash=123456") no-repeat center 8px;
    height: 1052px;
    width: 108px;
    top: 0;
    left: 50%;
    margin-top: auto;
    margin-left: -54px;
    transition: all 0.3s;
}

.page-warp .l-nav .mp-box {
    padding-top: 3px;
}

.page-warp .l-nav {
    padding-top: 84px;
}

.page-warp .l-nav .mpnav-table {
    height: 912px;
}


/*# sourceMappingURL=style.css.map */